{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username}}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <div class="media-body">
        <p>Add to your booklist here.</p>
        <p>Please submit a .xlsx or tab-delimited (because book titles can contain commas) .txt file containing only a column of book titles with a header row.</p>
        <p>For example:</p>
        <p>Titles</p>
        <p>Book 1</p>
        <p>Book 2</p>
    </div></br>
    <!-- FORM HERE -->
    <!-- action="" posts the form to the same route that we already on -->
    <form method="POST" action="" enctype="multipart/form-data"> <!-- REMEMBER multipart/form-data for some reason -->
        <!-- hidden_tag adds a csf token to protect from certain attacks -->
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.booklist_file.label() }}
            {{ form.booklist_file(class="form-control-file") }}
            {% if form.booklist_file.errors %}
            {% for error in form.booklist_file.errors %}
            <span class="test-danger">{{ error }}</span></br>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info mt-1 mb-1") }}
        </div>
    </form>
</div>
{% endblock content %}
