{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <!-- action="" posts the form to the same route that we already on -->
    <form method="POST" action="">
        <!-- hidden_tag adds a csf token to protect from certain attacks -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reminder Email</legend>
            <div class="form-group">
                {{ form.message.label(class="form-control-label") }}
                {% if form.message.errors %}
                {{ form.message(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.message.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.message(class="form-control form-control-lg", rows="10", cols="100") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
