{% extends "layout.html"  %}
{% block content %}
<div class="content-section">
    <h1>Your Booklist</h1>
    <body>
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}
    </body>
    <a class="btn btn-outline-info mt-1 mb-1" href="{{ url_for('booklist.upload_booklist') }}">Edit Book List</a>
    <a class="btn btn-outline-info mt-1 mb-1" href="{{ url_for('booklist.checkout_book')}}">Checkout A Book</a>
    <a class="btn btn-outline-info mt-1 mb-1" href="{{ url_for('booklist.return_book')}}">Return A Book</a>
    <a class="btn btn-outline-info mt-1 mb-1" href="{{ url_for('booklist.delete_booklist')}}">Delete Book List</a>


</div>

{% endblock content %}


